.mac-book-pro-16-1,
.mac-book-pro-16-1 * {
  box-sizing: border-box;
}
.Principal{
  background: #ffffff;
  width: 1728px;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  background: #9e924f;
  width: 1740px;
  height: 109px;
  position: absolute;
  left: -12px;
  top: 0px;
}
.auxiliardeserviciossupermercadoseuroenvigadocolombia2022 {
  text-align: left;
  font: 400 14px/119.2% "Abel", sans-serif;
  position: absolute;
  left: 55px;
  top: 862px;
  width: 339px;
  height: 32px;
}
.auxiliardeserviciossupermercadoseuroenvigadocolombia2022 span {
  color: #0e0e0e;
  font: 400 14px/119.2% "Abel", sans-serif;
}
.auxiliar-de-servicios-supermercados-euro-envigado-colombia-2022-span2 {
  color: #7d7d7d;
  font: 400 14px/119.2% "Abel", sans-serif;
}
.auxiliar-de-servicios-supermercados-euro-envigado-colombia-2022-span3 {
  color: #393939;
  font: 400 14px/119.2% "Abel", sans-serif;
}
.principalEstudio {
  text-align: left;
  font: 400 14px/119.2% "Abel", sans-serif;
  position: absolute;
  left: 55px;
  top: 673px;
  width: 536px;
  height: 62px;
}
.Estudios
 {
  color: #0e0e0e;
  font: 400 14px/119.2% "Abel", sans-serif;
}

.curriculum-vitae {
  color: #ffffff;
  text-align: left;
  font: 400 40px "Abel", sans-serif;
  position: absolute;
  left: 65px;
  top: 70px;
  width: 382px;
  height: 36px;
}
.bachiller-ins-normal-de-jeric-colombia-jerico-2020-ingenier-a-inform-tica-cursando-instituci-n-universitaria-de-envigado-colombia-envigado-2021 {
  text-align: left;
  font: 400 14px/115.2% "Abel", sans-serif;
  position: absolute;
  left: 55px;
  top: 570px;
  width: 337px;
}
.bachiller-ins-normal-de-jeric-colombia-jerico-2020-ingenier-a-inform-tica-cursando-instituci-n-universitaria-de-envigado-colombia-envigado-2021-span {
  color: #393939;
  font: 400 14px/115.2% "Abel", sans-serif;
}
.bachiller-ins-normal-de-jeric-colombia-jerico-2020-ingenier-a-inform-tica-cursando-instituci-n-universitaria-de-envigado-colombia-envigado-2021-span2 {
  color: #686868;
  font: 400 14px/115.2% "Abel", sans-serif;
}
.bachiller-ins-normal-de-jeric-colombia-jerico-2020-ingenier-a-inform-tica-cursando-instituci-n-universitaria-de-envigado-colombia-envigado-2021-span3 {
  color: #393939;
  font: 400 14px/115.2% "Abel", sans-serif;
}
.bachiller-ins-normal-de-jeric-colombia-jerico-2020-ingenier-a-inform-tica-cursando-instituci-n-universitaria-de-envigado-colombia-envigado-2021-span4 {
  color: #686868;
  font: 400 14px/115.2% "Abel", sans-serif;
}
.DatosEstudios {
  color: #393939;
  text-align: left;
  font: 400 26px "Abel", sans-serif;
  position: absolute;
  left: 65px;
  top: 117px;
}
.datos-1 {
  color: #7d7d7d;
  text-align: left;
  font: 400 19px/115.2% "Abel", sans-serif;
  position: absolute;
  left: 56px;
  top: 263px;
}
.datos-personales {
  width: 260px;
  height: 129px;
  position: absolute;
  left: 52px;
  top: 239px;
  overflow: hidden;
}
.datos-personales2 {
  color: #9d914e;
  text-align: left;
  font: 400 22px "Abel", sans-serif;
  position: absolute;
  left: 12px;
  top: 0px;
}
._3213213213 {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 50px;
  top: 70px;
}
._1007621795 {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 50px;
  top: 45px;
}
._18-12-2003 {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 112px;
  top: 28px;
}
.contacto {
  width: 204px;
  height: 162px;
  position: absolute;
  left: 52px;
  top: 368px;
  overflow: hidden;
}
.localidad-tel-email-linked-in-github {
  color: #7d7d7d;
  text-align: left;
  font: 400 19px/115.2% "Abel", sans-serif;
  position: absolute;
  left: 6px;
  top: 13px;
}
.itag {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 92px;
  top: 7px;
}
._3136873977 {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 44px;
  top: 34px;
}
.egonzalezz-correo-iue-edu-co {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 57px;
  top: 57px;
}
.linkedin-url {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 73px;
  top: 78px;
}
.nabetseweb {
  color: #0e0e0e;
  text-align: left;
  font: 400 19px "Abel", sans-serif;
  position: absolute;
  left: 68px;
  top: 100px;
}
.educaci-n {
  color: #9d914e;
  text-align: left;
  font: 400 22px "Abel", sans-serif;
  position: absolute;
  left: 52px;
  top: 530px;
}
.cursos-con-certificaci-n {
  color: #9d914e;
  text-align: left;
  font: 400 22px "Abel", sans-serif;
  position: absolute;
  left: 52px;
  top: 636px;
}
.group-97 {
  position: absolute;
  inset: 0;
}
.idiomas {
  position: absolute;
  left: 52px;
  top: 754px;
  overflow: visible;
}
.group-93 {
  width: 67.83px;
  height: 28.01px;
  position: static;
}
.star-6 {
  position: absolute;
  left: 121.81px;
  top: 796.08px;
  overflow: visible;
}
.star-7 {
  position: absolute;
  left: 136.15px;
  top: 796.08px;
  overflow: visible;
}
.group-1 {
  position: absolute;
  left: 122.16px;
  top: 780.5px;
  overflow: visible;
}
.experiencia {
  color: #9d914e;
  text-align: left;
  font: 400 22px "Abel", sans-serif;
  position: absolute;
  left: 52px;
  top: 822px;
  width: 153.72px;
  height: 12.69px;
}
.frame-1 {
  width: 1190px;
  height: 407px;
  position: absolute;
  left: 496px;
  top: 141px;
  overflow: hidden;
}
.descripcion {
  color: #0e0e0e;
  text-align: left;
  font: 400 30px "Abel", sans-serif;
  position: absolute;
  left: 0px;
  top: 46px;
  width: 1151px;
  height: 73px;
}
.QuienSoyYo {
  color: #9d914e;
  text-align: left;
  font: 400 38px "Abel", sans-serif;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 216px;
  height: 13px;
}
.line-1 {
  border-style: solid;
  border-color: #9e924f;
  border-width: 12px 0 0 0;
  width: 1012px;
  height: 0px;
  position: absolute;
  left: 422px;
  top: 105px;
  transform-origin: 0 0;
  transform: rotate(89.83deg) scale(1, 1);
}
.frame-2 {
  width: 541px;
  height: 529px;
  position: absolute;
  left: 475px;
  top: 530px;
  overflow: hidden;
}
.valores {
  color: #9d914e;
  text-align: left;
  font: 400 38px "Abel", sans-serif;
  position: absolute;
  left: 39px;
  top: 22px;
  width: 216px;
  height: 40px;
}
.descripcion2 {
  color: #9e924f;
  text-align: left;
  font: 400 30px "Abel", sans-serif;
  position: absolute;
  left: 1px;
  top: 84px;
  width: 1151px;
  height: 73px;
}
.frame-3 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 244px;
  top: 254px;
  overflow: hidden;
}
